<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href='/static/main.css' />
</head>

<body>
    <div class="flex">
        <h1>Welcome to our Website!</h1>
        <p>Get to know your GPA score with just your SAT score and class attendance</p>
        <p>Enter 1 if attendance(in %) is 75 or greater else Enter 0.</p>
        <div class="inputs">
            <input type="text" placeholder="Input your SAT score">
            <input type="text" placeholder="Attendance: 0 or 1">
            <input type="submit" value="Click on me">
        </div>
    </div>
</body>

</html>